@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");
.nav {
  position: sticky;
  background-color: rgba(75, 75, 75, 0.75); }
  .nav ul li {
    list-style: none;
    margin: 20px; }
    .nav ul li a {
      color: #D9DDE4;
      text-decoration: none;
      font-size: 1.5rem;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2%;
      transition: background-size .3s; }
      .nav ul li a:hover {
        color: #D9DDE4;
        font-weight: 600;
        background-size: 100% 2px; }

section div article h1 {
  font-family: 2.7rem;
  font-size: #4F5B67;
  color: "Montserrat", sans-serif; }

.nosotros {
  font-size: 2.2rem;
  color: #4F5B67;
  font-weight: 400; }

section div h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.7rem;
  color: #4F5B67; }

section div article h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #4F5B67; }

section div article .box {
  background-color: rgba(119, 136, 153, 0.2);
  margin: 15px 30px; }

.scale {
  transition: transform 1.5s; }
  .scale:hover {
    transform: scaleX(1.1); }

section article p .rutas, section div article p .box {
  padding: 20px;
  font-size: 1.5rem;
  color: #4F5B67; }

section article ul li {
  list-style: none; }
  section article ul li a {
    color: #4F5B67;
    text-decoration: none;
    font-size: 1.5rem;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2%;
    transition: background-size .3s; }
    section article ul li a:hover {
      color: #4F5B67;
      font-weight: 600;
      background-size: 100% 2px; }

main section div h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.7rem;
  color: #4F5B67; }

main section div .table {
  background-color: rgba(119, 136, 153, 0.2);
  color: #50627C;
  font-size: 1.5rem;
  padding: 20px;
  width: 90%;
  margin: auto;
  padding: 30px 10px;
  border: #4F5B67; }

section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.7rem;
  color: #4F5B67; }

section .btn-color {
  background-color: rgba(119, 136, 153, 0.2);
  color: #50627C;
  font-size: 1.5rem;
  padding: 20px;
  width: 90%;
  margin: auto;
  padding: 30px 10px; }
  section .btn-color .button {
    color: whitesmoke;
    background-color: #4b4b4b;
    font-size: 1.5rem;
    font-weight: 400; }

section h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #4F5B67; }

section iframe .maps {
  padding: 20px;
  width: 80%;
  margin: auto;
  padding: 30px 10px; }

footer {
  background-color: rgba(75, 75, 75, 0.75); }
  footer .icons {
    font-size: 2.5rem;
    color: #D9DDE4; }
  footer .footer {
    background-color: rgba(0, 0, 0, 0.2); }

body {
  overflow-x: hidden;
  background-image: url(../img/fondo2.jpg);
  opacity: 1.0;
  background-attachment: fixed; }

html {
  font-size: 62.5%; }
