section{
	h1{
		@include texto($mainFont, $textXl, $gray1);
	}
	.btn-color{
		background-color: $tableColor;
		color: #50627C;
		font-size: 1.5rem;
		padding: 20px;
		width: 90%;
		margin: auto;
		padding: 30px 10px;
		.button{
			color: whitesmoke;
			background-color: rgb(75, 75, 75);
			font-size: $textSm;
			font-weight: map-get($map:$grosor, $key:"bajo");
		}
	}

}


section{
	h2{
		@include texto($mainFont, $textLg, $gray1);

	}
	iframe{
		.maps{
			padding: 20px;
			width: 80%;
			margin: auto;
			padding: 30px 10px;
		}
	}
}


