
section{
	div{
		h1{
			@include texto($mainFont, $textXl, $gray1);
		}
		article{
			h2{
				@include texto($mainFont, $textLg, $gray1);
			}+
			.box{
				@extend .rutas;
				background-color: $tableColor;
				margin: 15px 30px;
			}
			
		}
	}
}


.scale{
	transition: transform 1.5s;
	&:hover{
		transform: scaleX(1.1);
	}
}