
section{
	div{
		h1{
			@include texto($textXl, $gray1);
		}
		article{
			h2{
				@include texto($textLg, $gray1);
			}
			.box{
				@extend .rutas;
				background-color: rgba(119, 136, 153, 0.4);
				margin: 15px 30px;
			}
			
		}
	}
}


.scale{
	transition: transform 1.5s;
	&:hover{
		transform: scaleX(1.1);
	}
}