@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

//fonts
$mainFont: 'Montserrat', sans-serif;

//text sizing
$textSm:1.5rem;
$textMd:2.2rem;
$textLg:2.5rem;
$textXl:2.7rem;